<template>
  <div v-show="!hide" :id="`re-form-${formKey}`" class="re-form-item">
    <p class="re-form-item__label">
      <span v-if="required" class="re-form-item__label__required" />
      <span class="re-form-item__label__text">{{ label }}</span>
      <span class="re-form-item__label__hint">{{ hint }}</span>
      <span v-if="withExpand" class="re-form-item__label__down">
        <img
          class="re-form-item__label__down__icon" :class="{
            're-form-item__label__down__icon--active': isExpand,
          }" src="@/assets/icon/icon-down.svg" @click="toggleExpand"
        >
      </span>
    </p>
    <ReCollapseTransition :show="expandStatus" :border="false">
      <slot />
    </ReCollapseTransition>

    <p v-show="formErrorMessage" class="re-form-item__message">
      <ReFormMessage :error-message="formErrorMessage" />
    </p>
  </div>
</template>

<script setup>
import { provide } from 'vue';
import ReCollapseTransition from '@/components/utility/ReCollapseTransition.vue';
import ReFormMessage from '@/components/dataInput/ReFormMessage.vue';

const props = defineProps({
  formKey: {
    type: String,
    default: '',
  },
  label: {
    type: String,
    default: '',
  },
  hint: {
    type: String,
    default: '',
  },
  required: {
    default: false,
  },
  hide: {
    type: Boolean,
    default: false,
  },
  withExpand: {
    type: Boolean,
    default: false,
  },

});

const emits = defineEmits(['expandChange']);
const formErrorMessage = ref('');
const formValue = inject('formValue');
const formRules = inject('formRules');
const isExpand = ref(false);

const expandStatus = computed(() => {
  if (!props.withExpand) {
    return true;
  }

  return isExpand.value;
});

const validate = async (event) => {
  const rule = formRules[props.formKey];

  if (rule) {
    const triggerEvents = rule.trigger || [];

    if (triggerEvents.includes(event) || event === 'enforceValidate') {
      // 這個 validator 就是是外面設定的
      const result = await rule.validator({
        value: formValue()[props.formKey],
        label: props.label,
        trigger: triggerEvents,
      });

      if (!result.isPass) {
        return result.errorMessage;
      }
    }
  }

  return null;
};

const validateFields = async (event) => {
  if (formRules[props.formKey]) {
    const errorMessage = await validate(event);

    if (errorMessage) {
      formErrorMessage.value = errorMessage;
      return false;
    }

    formErrorMessage.value = '';
    return true;
  }
};

const toggleExpand = () => {
  isExpand.value = !isExpand.value;
  emit('expandChange', props.formKey, isExpand.value);
};

defineExpose({
  validateFields,
});

provide('validateFields', validateFields);
</script>

<style lang="scss" scoped>
.re-form-item {
  position: relative;

  & + & {
    margin-top: 10px;
  }

  &__label {
    @include flex();
    margin-bottom: 5px;

    &__text {
      @include font-style($c-deepblue, 14, 400, 1.6px, 20px);
      display: inline-block;
    }

    &__required {
      @include circle(4px);
      position: relative;
      top: -4px;
      display: inline-block;
      margin-right: 5px;
      background-color: $c-red;
    }

    &__hint {
      @include font-style($c-input-hint, 12, 400, 1.4px, 24px);
      display: inline-block;
      margin-right: 5px;
    }

    &__down {
      display: inline-block;
      width: 16px;
      margin-left: 5px;

      &__icon {
        width: 100%;
        cursor: pointer;
        // transition: .4s;

        &--active {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__message {
    height: 20px;
  }
}
</style>
