<template>
  <div class="re-upload-preview">
    <div class="re-upload-preview__content">
      <div class="preview-row">
        <p class="preview-row__info">
          <span class="preview-row__info__name">{{ attachment.name }}</span>
          <span class="preview-row__info__size">({{ attachment.size }})</span>
        </p>

        <div class="preview-row__action" @click="removeFile">
          <img class="preview-row__action__delete" src="@/assets/icon/close_white.svg">
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import useModal from '@/hooks/useModal';
import ReUploadPreviewVideoModalContent from '@/components/dataInput/ReUploadPreviewVideoModalContent.vue';

const props = defineProps({
  attachment: {
    type: Object,
    default: () => ({
      file: '',
      name: '',
      size: '',
      id: '',
      type: 'image', // image, video, other
    }),
  },
});

const { modal } = useModal();
const file = ref({});
const snapImage = ref('');

const isLoading = ref(false);

const removeFile = () => {
  emit('removeFile', props.attachment.id);
};

const handlePreview = () => {
  isLoading.value = true;
  if (!props.attachment.file) {
    return;
  }

  // videoSourceRef.value.src = URL.createObjectURL(props.attachment.file);

  // invisibleVideoRef.value.load();
  // this.attachment.videos.forEach() {}
  const fileReader = new FileReader();
  fileReader.onload = () => {
    const blob = new Blob([fileReader.result], { type: props.attachment.file.type });

    const videoTempUrl = URL.createObjectURL(blob);

    const video = document.createElement('video');

    const snapImageFn = () => {
      const canvas = document.createElement('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
      const image = canvas.toDataURL();

      snapImage.value = image;
      isLoading.value = false;

      canvas.toBlob(async (blobFile) => {
        const formData = new FormData();
        formData.append('file', blobFile, 'image.png');
      }, 'image/png');

      const success = image.length > 100000;
      if (success) {
        URL.revokeObjectURL(videoTempUrl);
      }

      return success;
    };

    const timeupdate = () => {
      if (snapImageFn()) {
        video.removeEventListener('timeupdate', timeupdate);
        video.pause();
      }
    };
    video.addEventListener('loadeddata', () => {
      if (snapImageFn()) {
        video.removeEventListener('timeupdate', timeupdate);
      }
    });

    video.addEventListener('timeupdate', timeupdate);
    video.preload = 'metadata';
    video.src = videoTempUrl;
    // Load video in Safari / IE11
    video.muted = true;
    video.playsInline = true;
    video.play();
  };

  fileReader.readAsArrayBuffer(props.attachment.file);
};

const openPreviewModal = () => {
  modal({
    data: {
      videoSource: props.attachment.file || '',
      imageSource: props.attachment.file,
      type: props.attachment.type,
    },
    render: ReUploadPreviewVideoModalContent,
  });
};

onMounted(() => {
  console.log('props.attachment', props.attachment);
  console.log(props.attachment.type === 'video');
  if (props.attachment.type === 'video') {
    handlePreview();
  }
});
</script>

<style lang="scss" scoped>
.re-upload-preview {
  @include flex();
  margin-top: 5px;

  &__content {
  }
}

.preview-row {
  @include flex();
  position: relative;

  &__frame {
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid $c-grey;

    &__loading {
      @include position(center);
      width: 20px;
    }

    &__image {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__overlay {
      @include position(tl, 0, 0);
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        background-color: rgba($c-black, 0.5);
      }

      &__play-icon {
        @include position(center);
        width: 20px;
      }
    }
  }

  &__image {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__info {
    display: inline-block;

    &__name {
      @include font-style($c-black, 14);
    }

    &__size {
      @include font-style($c-grey, 12);
      margin-left: 5px;
    }
  }

  &__action {
    /* @include position(tr, 5px, 5px); */
    @include circle(20px);
    @include flex(center);
    margin-left: 10px;
    background-color: $c-red;

    &__delete {
      width: 16px;
      cursor: pointer;
    }
  }
}

.invisible-video {
  display: none;
}
</style>
